.main {
    background-color: #fff;
    color: #1D4ED8;
    position: static;
}

.nav {
    margin: 0 150px;
}

.logo {
    flex-grow: 1;
    cursor: pointer;
}

.flex {
    display: flex;
}

.pages {
    font-size: 15px;
    margin: 10px 20px !important;
    // display: block;
    text-transform: uppercase;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}